html{
  margin:0;
  padding:0;
}

.holder {
    background-color: #bdc3c7;
    position: relative;
    height: 800px;
    padding-bottom: 100px;
}

.marvel-device {
    float: right;
    margin-right: 10%;
    margin-left: 0%;
    transform: scale(.7) skew(3deg, -3deg) perspective(400px) rotateY(3deg);
    box-shadow: -5px 5px 30px #000;
    animation: perspective 20s 0s ease-in-out infinite;
}
.holder:nth-child(odd) .marvel-device {
    transform: scale(.7) skew(-3deg, 3deg) perspective(400px) rotateY(-3deg);
    float: left;
    margin-right: 10%;
    margin-left: 5%;
/*    box-shadow: 5px 5px 30px #000;*/
}


@keyframes perspective {
  0% {
    transform: scale(.7) skew(-3deg, 3deg) perspective(400px) rotateY(-3deg);
    box-shadow: 5px 5px 30px #000;
  }
  30% {
    transform: scale(.7) skew(0deg, 0deg) perspective(400px) rotateY(0deg);
  box-shadow: 0px 0px 30px #000;
}
  60% {
    transform: scale(.7) skew(3deg, -3deg) perspective(400px) rotateY(3deg);
    box-shadow: -5px 5px 30px #000;}
  100% {
    transform: scale(.7) skew(-3deg, 3deg) perspective(400px) rotateY(-3deg);
    box-shadow: 5px 5px 30px #000;
  }
}

.device-wrapper {
    max-width: 300px;
    width: 250px;
    padding: 100px;
    right: 0px;
    position: absolute;
}

.message {
    position: absolute;
    top: 50%;
    bottom: 0;
    display: block;
    right: 10%;
    left:initial;
    margin-top: -100px;
    font-size: 70px;
    color: #fff;
    font-family: sans-serif;
    max-width: 35%;
    text-align: right;
    text-shadow: 3px 2px 6px #000;
}

.holder:nth-child(even) .message{
  left:10%;
  right: initial;
  text-align: left;
  text-shadow: -3px 2px 6px #000;
}

.screen1{
  background-image: url(../resources/Protruding-Squares.svg);
  height: 100%;
  width: 100%;
}

.screen2{
    background-image: url(../resources/Wintery-Sunburst.svg);
    height: 100%;
    width: 100%;
    border: 1px solid #fff;
    background-size: auto 100%;
    background-position: center;
}

.screen3{
  background-image: url(../resources/Subtle-Prism.svg);
  height: 100%;
  width: 100%;
}

.screen4{
  background-image: url(../resources/Bullseye-Gradient.svg);
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
}


.screen5{
  background-image: url(../resources/Wavey-Fingerprint.svg);
  height: 100%;
  width: 100%;

  animation: holder5_slide 10s linear infinite;
}

@-webkit-keyframes holder5_slide {
  from{
      background-position:0px;
  }
  to{
      background-position:250px;
  }
}


.screen6 {
    background-image: url(../resources/Abstract-Envelope.svg);
    height: 100%;
    width: 100%;
    background-size: auto 100%;
    background-position: center;
}
