html{
  margin:0;
  padding:0;
}
body{
  margin:0;
}
.holder {
    background-color: #000;
    position: relative;
    height: 800px;
    padding-bottom: 15%;
}
.holder::after {
  clear:both;
}

.message_holder {
  height: 300px;
  width:500px;
  background-color: #fff;
  border-radius: 50px;
  position: absolute;
  top: 50%;
  bottom: 0;
  margin: 0 auto;
  float: right;
  margin-right: 10%;
  margin-left: 0%;
  transform: skew(3deg, -3deg) perspective(400px) rotateY(3deg);
  animation: perspective 20s 0s ease-in-out infinite;
  margin-top: -150px;
  display: table;
}
.holder:nth-child(odd) .message_holder {
    transform: skew(-3deg, 3deg) perspective(400px) rotateY(-3deg);
    float: left;
    margin-left: 10%;
    margin-right: 0;
}

.noPerspective{
  animation: none;
}


@keyframes perspective {
  0% {
    transform: skew(-3deg, 3deg) perspective(400px) rotateY(-3deg);
    box-shadow: 5px 10px 30px #33465A;
  }
  30% {
    transform: skew(0deg, 0deg) perspective(400px) rotateY(0deg);
  box-shadow: 0px 10px 30px #33465A;
}
  60% {
    transform: skew(3deg, -3deg) perspective(400px) rotateY(3deg);
    box-shadow: -5px 10px 30px #33465A;}
  100% {
    transform: skew(-3deg, 3deg) perspective(400px) rotateY(-3deg);
    box-shadow: 5px 10px 30px #33465A;
  }
}


.message {
  display: table-cell;
  vertical-align: middle;
  font-size: 28px;
  line-height: 38px;
  color: #ffffffdb;
  font-family: sans-serif;
  text-align: center;
  width: calc(100% - 40px);
  padding: 20px;
  top: 0;
  bottom: 0;
  margin: 0 auto;
  text-shadow: 1px 1px 8px #61809dd4;
}
.holder:nth-child(even) .message_holder {
    margin-right: 10%;
    margin-left: 0;
    right: 0;
}

.screen1{
  background-image: url(../resources/Protruding-Squares.svg);
  width: 100%;
}

.screen2{
    background-image: url(../resources/Wintery-Sunburst.svg);
    border: 1px solid #fff;
    background-size: 100% auto;
    background-position: center;
}

.screen3{
  background-image: url(../resources/Subtle-Prism.svg);
}

.screen4{
  background-image: url(../resources/Bullseye-Gradient.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}


.screen5{
  background-image: url(../resources/Wavey-Fingerprint.svg);
  background-size: 126% auto;
  animation: holder5_slide 10s linear infinite;
}

@-webkit-keyframes holder5_slide {
  from{
    background-position: 0px 0px;
  }
  to{
    background-position: 485% 0px;
  }
}


.screen6 {
    background-image: url(../resources/Abstract-Envelope.svg);
    background-size: auto 100%;
    background-position: center;
}


.screen7 {
    background-image: url(../resources/Endless-Constellation.svg);
    background-size: 100% auto;
    background-position: top;
}


.screen8 {
    background-image: url(../resources/Radiant-Gradient.svg);
    background-repeat: no-repeat;
    background-size: auto 100%;
}



.screen9 {
    background-image: url(../resources/Diamond-Sunset.svg);
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}



.screen10 {
    background-image: url(../resources/Rose-Petals.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}
